.combobox__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.combobox {
  height: 36px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  outline: none;
}


.input__label {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
}

.input__label--alert {
  color: #EB3333;
}

.combobox:hover::after {
  display: none;
}

.combobox .combobox__input {
  width: 100%;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 52px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #e0e0e0;
  position: relative;
}


.combobox .combobox__input:focus {
  border: 1px solid #50B83C;
}

.combobox .combobox__input--alert {
  border: 1px solid #EB3333;
  position: relative;
}

.combobox .combobox__input--alert:focus {
  border: 1px solid #EB3333;
}

.combobox:has(.combobox__input--alert):hover::after {
  display: block;
  top:0;
  left: 0;
  transform: translate(50%,90%);
}

.combobox .combobox__button {
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 1px;
  height: 34px;
  width: 39px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
}

.combobox .combobox__button--white {
  background-color: white;
}

.combobox .combobox__drop {
  position: relative;
  width: 14px;
  height: 14px;
}

.combobox .combobox__drop::before {
  position: absolute;
  content: "";
  background-image: url(../../../assets/img/Sprites.64af8f61.svg);
  background-position: -368px -360px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.combobox:has(.combobox__data--open) .combobox__drop::before {
  animation: spin 0.1s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}




.combobox .combobox__data {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 6px -2px rgb(165, 165, 165);
  z-index: 1;
  background-color: #ffffff;
  max-height: 208px;
  overflow-y: auto;
  box-sizing: border-box;
}

.combobox .combobox__data--up {
  top: unset;
  bottom: 100%;
}

.combobox .combobox__data--open {
  display: block;
}


.combobox .combobox__item {
  display: block;
  height: 36px;
  box-sizing: border-box;
  padding: 8px;
}

.combobox .combobox__item--hide {
  display: none;
}

.combobox .combobox__item:hover {
  background-color: #E0E0E0;
  cursor: pointer;
}

.combobox .combobox__item:active {
  background-color: #c9c9c9;
  cursor: pointer;
}

.combobox .combobox__item--selected {
  background-color: #50B83C;
  color: #ffffff;
}

.combobox .combobox__item--selected:hover {
  background-color: #50B83C;
}

.combobox .combobox__item--selected:active {
  background-color: #50B83C;
}
